html, body {
  font-family: arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #25424D;
}

.container {
  height: 100%;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#map {
  height: calc(100% - 80px);
  width: calc(100% - 300px);
  left: 300px;
  position: absolute;
  background-color: #e3e7d6;
}

.sidenav {
  height: calc(100% - 80px);
  width: 300px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #567682;
  transition: 0.5s;
  padding: 40px 0px 0px 0px;
}

.sidenav li {
  font-size: 25px;
  top: 0;
  color: #6EB9D4;
  display: block;
  transition: 0.3s;
  padding: 10px 0px;
}

.sidenav .closebtn {
  position: absolute;
  right: 25px;
  font-size: 36px;
}

.sidenav li:hover {
  color: #e5e9da;
}

.hero {
}

.title {
  color: #e5e9da;
  padding: 0px 20px;
}

#pano {
  width: 200px;
  height: 200px;
}

.infowindow-image {
  max-width: 200px !important;
}

.infowindow-text {
  max-width: 200px !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, 0, .col-11, 1, .col-12, {
  position: relative;
  min-height: 1px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}


/*
Colour palette used for the theme

http://www.colourlovers.com/palette/3521957/Congenial
*/