html,
body {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  font-weight: normal;
}

p {
  margin: 2px;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #e3e7d6;
}

#corner-infowindow {
  transition: 0.5s;
  position: absolute;
  width: 300px;
  z-index: 1;
  left: 330px;
  top: 30px;
  background-color: white;
  visibility: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid #b6b6b6;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 5px auto;
}

li.closebtn {
  color: #a7e4fb;
}

#close-thick:after {
  z-index: 2;
  color: #567682;
  font: 40px/100% arial, sans-serif;
  position: absolute;
  right: 7px;
  text-decoration: none;
  content: '×';
  cursor: pointer;
}

#quote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

#quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

#quote p {
  display: inline;
}

#sidenav {
  width: 300px;
  overflow-y: scroll;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  background-color: #567682;
  transition: 0.5s;
  padding: 40px 0px 0px 0px;
}

input {
  font-size: 20px;
  color: #567682;
  width: 250px;
}

#sidenav li {
  font-size: 20px;
  top: 0;
  display: block;
  transition: 0.3s;
  padding: 10px 0px;
}

#sidenav .closebtn {
  position: absolute;
  right: 25px;
  font-size: 36px;
}

#sidenav .closebtn:hover {
  cursor: pointer;
  color: #e5e9da;
}

li.selected {
  color: #f6fda1;
}

li.noHighlight {
  color: #a7e4fb;
}

li.hover {
  cursor: pointer;
  color: #fff;
}

button {
  vertical-align: middle;
}

.title {
  padding: 0px 20px;
  color: #25424d;
}
.toggle-button {
  color: #a7e4fb;
  font-size: 1.1em;
}

.toggle-button button{
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #a7e4fb;
  color: #25424d;
  border: 2px solid #567682;
  border-radius: 7px;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  border-color: #ccc;

  background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
  background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #245580;
}

.toggle-button button:hover {
  box-shadow: 0 4px 4px 0 rgba(167,228,251,0.24), 0 8px 12px 0 rgba(167,228,251,0.19);
  background-color: #265a88;
  background-position: 0 -15px;
}

.toggle-button .active  {
  background-color: #25424d;
  color: #a7e4fb;
}

.toggle-button .not-active  {
  background-color: #a7e4fb;
  color: #25424d;
}

button:focus {
  outline:0;
}

#pano {
  width: 300px;
  height: 200px;
}

#min-infowindow {
  color: #567682;
  font-size: 20px;
  font-weight: 1.5em;
}

img {
  max-width: 100%;
}

.poweredy-by-image {
  max-width: 250px !important;
  max-height: 250px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  padding: 5px auto;
}

a {
  text-decoration: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 0px) and (max-width: 991px) {
  #top-nav {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #top-nav {
    display: block;
  }
}

#top-nav button {
  margin-top: 15px;
}

#hamburger {
  color: #567682;
  text-shadow: 3px 3px 3px #a7e4fb;
  font-size: 40px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  z-index: 1;
  left: 10px;
}

#weather {
  color: #25424d;
}

.temp {
  color: #fa3a3a;
  font-weight: bold;
}

.weather-slots {
  display: flex;
  flex-wrap: wrap;
}

.weather-symbol {
  max-width: 100%;
  max-height: 50px;
}

.gif-image {
  max-width: 250px !important;
  max-height: 250px;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid #b6b6b6;
  /* border-color: rgba(0, 0, 0, 0.2); */
  border-color: #ebfd1b;
  padding: 5px auto;
}

.gif-image:hover {
  cursor: pointer;
}

.infowindow-text {
  color: #567682;
  font-weight: normal;
  padding: 7px;
  max-width: 280px !important;
  font-size: 15px;
  overflow: hidden;
}

.license-text {
  color: #25424d;
  background-color: #e3e7d6;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.license-text a {
  color: #25424d;
  text-decoration: none;
}

.close {
  font-size: 2em;
}

/*
Colour palette used for the theme

http://www.colourlovers.com/palette/3521957/Congenial
*/
